<div class="row pt-2">
    <div class="col-8">
        <div class="card">
            <div class="card-header bg-secondary text-white">
               Post  List
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Sr No</th>
                                    <th>title</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @for (item of postList; track $index) {
                                    <tr>
                                        <td>{{item.id}}</td>
                                        <td>{{item.body}}</td>
                                        <td>
                                            <button class="btn btn-primary" (click)="onEdit(item)" >Edit</button>
                                            <br>
                                           <button class="btn btn-danger mt-3" (click)="onDelete(item)" >Delete</button>
                                        </td>

                                    </tr>
                                }
                               

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
          
    </div>
    <div class="col-4">
        <div class="card">
            <div class="card-header bg-secondary text-white">
                Edit Post
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <label for="">Post title</label>
                        <input type="text"  [(ngModel)]="postObj.id" class="form-control"
                            placeholder="Enter id">
                    </div>
                    <div class="col-12">
                        <label for="">post content</label>
                        <input type="text"  [(ngModel)]="postObj.body" class="form-control"
                            placeholder="Enter Content">
                    </div>
                   
                </div>
                <div class="row pt-3">
                    <div class="col-6 text-center">
                        <button class="btn btn-secondary">Reset</button>
                    </div>
                    <div class="col-6 text-center"> 
                        @if (postObj.id==0) {
                            <button class="btn btn-success" (click)="onSave()" >Save</button>
                        }@else {
                            <button class="btn btn-warning" (click)="onUpdate()" >Update</button>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

